/*  "Roboto", sans-serif;
	"Raleway", sans-serif; */
:root {
	--black-text-color: #212121;
	--gray-text-color: #757575;
	--blue-text-color: #2196f3;
	--selection-btn-color: #188ce8;
	--white-bgr-text-color: #ffffff;
	--secondary-bgr-color: #f5f4fa;
	--hero-footer-bgr-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
	background-color: var(--white-bgr-text-color);
	font-family: "Roboto", sans-serif;
	color: var(--black-text-color);
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}
img {
	display: block;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*  */
/* base styles */
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* h2 title */
.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 0.03em;
}
/*  */
/* header */
.header-container {
	display: flex;
	align-items: center;
	/* border-bottom: 1px solid #ececec; */
}
.header-border {
	display: block;
	height: 1px;
	background-color: #ececec;
}
.logo {
	color: var(--blue-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	word-spacing: -0.3em;

	margin-right: 93px;
}
.logo-text {
	color: #000000;
}
.nav-link,
.header-contacts {
	display: block;
}
.nav {
	margin-right: auto;
}

.nav-list {
	display: flex;
	gap: 50px;
}
.nav-link {
	color: var(--blue-text-color);
	color: var(--black-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;

	padding-top: 32px;
	padding-bottom: 32px;
}
.contacts-list {
	display: flex;

	gap: 50px;
}
.header-contacts {
	color: var(--gray-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;

	padding-top: 32px;
	padding-bottom: 32px;
}
.current {
	color: var(--blue-text-color);
}
.link:hover,
.link:focus {
	color: var(--blue-text-color);
}
.link:active {
	color: var(--selection-btn-color);
}

/* hero */
.hero {
	background-color: var(--hero-footer-bgr-color);
}
.hero-container {
	padding-top: 200px;
	padding-bottom: 200px;
}
.hero-title {
	color: var(--white-bgr-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	width: 696px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.hero-btn {
	display: block;
	background-color: var(--blue-text-color);
	color: var(--white-bgr-text-color);
	border: 1px solid transparent;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	border-radius: 4px;

	min-width: 200px;
	min-height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 31px;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--selection-btn-color);
}
/* abbout */
.abbout-conteiner {
	display: flex;
	padding-top: 94px;
	padding-bottom: 94px;
	gap: 30px;
}
.abbout-title {
	color: var(--black-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	width: 270px;
	margin-bottom: 10px;
}
.abbout-text {
	color: var(--gray-text-color);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	width: 270px;
}

/* work */
.work-container {
	padding-bottom: 94px;
}
.work-title {
	margin-bottom: 50px;
}
.work-containet {
	display: flex;
	gap: 30px;
}
/* team */
.team {
	background-color: var(--secondary-bgr-color);
	padding-top: 94px;
	padding-bottom: 94px;
}
.team-title {
	margin-bottom: 50px;
}
.team-list {
	display: flex;
	gap: 30px;
}
.name-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
.team-iteam {
	background: var(--white-bgr-text-color);
	border-radius: 0px 0px 4px 4px;

	width: 270px;
}
.name-title {
	color: var(--black-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 10px;
}
.name-text {
	color: var(--gray-text-color);
	font-size: 16px;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.03em;
}
/* footer */
.footer {
	background-color: var(--hero-footer-bgr-color);
}
.footer-container {
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	display: inline-block;
	margin-right: 0;
	margin-bottom: 20px;
}
.logo-text-footer {
	color: var(--white-bgr-text-color);
}

.address {
	font-style: normal;
}
.address-link {
	margin-bottom: 9px;
}
.address-link:nth-last-child(1) {
	margin-bottom: 0;
}
.map-link {
	color: var(--white-bgr-text-color);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.contacts-footer {
	color: var(--footer-text-color);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
/* portfolio.html */
.portfolio-container {
	padding-top: 94px;
	padding-bottom: 94px;
}
.filter {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 50px;
}
/* filter button */
.filter-btn {
	cursor: pointer;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--secondary-bgr-color);

	min-width: 73px;
	min-height: 38px;
	padding: 5px 21px;
	border-radius: 4px;
	border: 1px solid transparent;
}
.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--selection-btn-color);
	color: var(--white-bgr-text-color);
}
.current-btn {
	background-color: var(--blue-text-color);
	color: var(--white-bgr-text-color);
}
/* portfolio list */
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portrolio-wrapper {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: transparent;
}
.portfolio-title {
	color: var(--black-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-text {
	color: var(--gray-text-color);
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}
